.containerForm-Presupuesto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c1{
    background-color: #23282B;
    color: white;
    width: 250px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.c2{
    background-color: #CAC4B0;
    width: 250px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.c3{
    background-color: #686C5E;
    width: 250px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.c4{
    background-color: #256D7B;
    width: 250px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.c5{
    background-color: #721422;
    width: 250px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}