.containerForm-Presupuesto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
    background-color: wheat;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 15px rgb(41, 41, 41);
    gap: 25px;
    align-items: center;
}

.c1:hover{
    transition: .4s;
    transform: scale(1.10);
}

.c2:hover{
    transition: .4s;
    transform: scale(1.10);
}

.c3:hover{
    transition: .4s;
    transform: scale(1.10);
}

.c4:hover{
    transition: .4s;
    transform: scale(1.10);
}

.c5:hover{
    transition: .4s;
    transform: scale(1.10);
}

.c1{
    background-color: #23282B;
    color: white;
    min-width: min-content;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1em;
}


.c2{
    background-color: #1E2460;
    min-width: min-content;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1em;
    color: white;
}

.c3{
    background-color: #721422;
    min-width: min-content;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1em;
    color: white;
}

.c4{
    background-color: #256D7B;
    min-width: min-content;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1em;
}

.c5{
    background-color: #721422;
    min-width: min-content;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 1em;
    color: white;
}

.c1_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.img_cuanto_puedo_ahorrar{
    width: 10em;
    margin: auto;
}

.nota_asas{
    width: 400px;
    text-align: justify;
}