/* Aqui estilos */



.welcome{
    margin-right: 4em;
    margin-left: 1em;
}
#containerUno{
    background-color: blue;
    margin-top: 1.5em;
    font-size: x-small;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: left;
}